<a style="cursor: pointer"
   style="width: 210%;  padding: 20px;"
   
   [routerLink]="[index]"
   routerLinkActive="active"
   >

      <div class="row" >
  <div class="col-xs-10" >
      <div class="card" style="width: 18rem; ">
          <img src="{{vina.imageUrl}}" style="max-height: 200px;" class="card-img-top" alt="vina.vrsta">
          <div class="card-body">
              <h5 class="card-title">{{vina.ime}}</h5>
             
              
              
          </div>
      </div>
  </div>
</div>
</a>


 